<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список текстов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>table th {padding: 5px;}</style>
</head>
<body>

<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Классификатор объектов в тексте</strong>
            <nav class="my-2 my-md-0 me-md-3">
                <a class="p-2 text-white" href="/texts">Просмотр текстов</a>
            </nav>
        </a>
    </div>
</div>

<div class = "container mt-5">
    <h3>К сожалению, вы попали на несуществующую страницу.</h3>
    <p href="/">Вернуться на главную</p>

    <div>
        <footer class="text-muted py-5">
            <div class="container">

                <p class="mb-1">Разработано в рамках учебной программы</p>
            </div>
        </footer>
    </div>
</div>

</body>
</html>