<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                 <strong>Классификатор объектов из текста</strong>
            <nav class="my-2 my-md-0 me-md-3">
                <a class="p-2 text-white" href="/texts">Просмотр текстов</a>
            </nav>
        </a>

    </div>
</div>

<div class = "container mt-5 mb-5">
    <h3>Классификатор объектов из текстов</h3>
    <h5>К сожалению, на обработку текстов большого размера может потребоваться время. Просим прощения за ожидание.</h5>

    <form action="/" method="post" href = "/waiting">
        <textarea name="inputText" placeholder="Введите текст для классификации" class="form-control" rows="15"></textarea><br>

        <select name="modelChoose">
            <option th:each="modelChoose : ${models}"
                    th:utext="${modelChoose}"/>
        </select>

        <button type="submit">Классифицировать объекты из текста</button>
    </form>

    <div>
        <footer class="text-muted py-5">
            <div class="container">
                <p class="mb-1">Разработано в рамках учебной программы</p>
            </div>
        </footer>
    </div>
</div>

</body>
</html>