<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список текстов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>table th {padding: 5px;}</style>
</head>
<body>

<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Классификатор объектов в тексте</strong>
            <nav class="my-2 my-md-0 me-md-3">
                <a class="p-2 text-white" href="/texts">Просмотр текстов</a>
            </nav>
        </a>
    </div>
</div>

<div class = "container mt-5">
    <h3>Список текстов</h3>

    <table>
        <tr>
            <th> <a href="/texts/title">Название произведения</a></th>
            <th> <a href="/texts/author">Автор</a></th>
            <th>Посмотреть полную информацию</th>
        </tr>
        <tr th:each="text : ${texts}">
            <td th:text="${text.getTextTitle()}"></td>
            <td th:text="${text.getTextAuthor()}"></td>
            <td><a th:href="'/texts/' + ${text.getId()}" class="btn btn-warning">Посмотреть полный текст</a></td>
        </tr>
    </table>

    <div>
        <footer class="text-muted py-5">
            <div class="container">

                <p class="mb-1">Разработано в рамках учебной программы</p>
            </div>
        </footer>
    </div>
</div>

</body>
</html>